<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371634339115-b4000lt4lkkor3gbh8unntmqujpi303u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371634339115-b4000lt4lkkor3gbh8unntmqujpi303u</string>
	<key>API_KEY</key>
	<string>AIzaSyA7RNdGAuLVn39Jb9hMPtzceNfqyRoR-Y4</string>
	<key>GCM_SENDER_ID</key>
	<string>371634339115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sonun.Month5-1</string>
	<key>PROJECT_ID</key>
	<string>productshop-76b68</string>
	<key>STORAGE_BUCKET</key>
	<string>productshop-76b68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371634339115:ios:4b9d10d1542c810fd4196e</string>
</dict>
</plist>